@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black.woff2') format('woff2'),
         url('fonts/roboto-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;a@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black.woff2') format('woff2'),
         url('fonts/roboto-black.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.woff2') format('woff2'),
         url('fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.woff2') format('woff2'),
         url('fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	color: #808080;
	margin-top:0;
	font-size: 1.2em;
	font-family: robotoregular, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1 {
	font-size: 1.5em;
	font-family: robotoblack, "Times New Roman", "serif";
}
h2{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 2.5em;
	color: #000000;
	display: block;
}
h3{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 1.2em;
	color: #000000;
	padding:0px;
	display: inline;
}
h4{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 1.1em;
	color: #000000;
	padding:0px;
	display: inline;
}

/*bandeau navigation*/
.nav{
	width: 100%;
	margin: 0;
	background-size: cover;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	z-index: 999;
	padding: 0;
}
#logo { 
	margin-top : 1%;
	margin-bottom:1%;
	margin-left:15%;
}
div.menu {
	float: right;
	margin-right:10%;
	margin-top: 1%;
	overflow: auto;
}
div.menu a {
	display: inline-block;
	text-align: center;
	padding: 14px;
	color: #808080;
	font-size:1em;
	text-decoration: none;
}
div.menu a:hover {
	border-top: #1E90FF solid;
	font-weight: bold;
	color: #000;
}

/*slider*/
.slider {
    position:relative;
	z-index: 1;
    width:100%;
    overflow: hidden;
	height: 450px;
	padding-top:7%;
}
.images {
    position:absolute;
    white-space: nowrap;
    width:100%;
    transition:left 1s
}
.images img {
	width:100%;
}
#image1:target~.images {
    left:0;
}
#image2:target~.images {
    left:-100%;
}
.accueil {
	margin-top:12%;
}
.fa-angle-left{
	color:#FFFFFF;
	font-size:3.5em;
	left: 2%;
	position: absolute;
	padding:0;
	margin-bottom:0;
	z-index:8;
}
.fa-angle-right{
	color:#FFFFFF;
	font-size:3.5em;
	right: 2%;
	position: absolute;
	z-index:8;
}
.slider ul {
    position:relative;
}
.slider li {
    display:inline-block
}
.text{
	position: absolute;
	width:100%;
	z-index:2;
	color:#ffffff;
	margin-left:15%;
	margin-top:0;
}
.webagency{
	color:#1E90FF;
}
.Bouton_info{
	color:#ffffff;
	font-size: 1.5vw;
	background-color: #1E90FF;
	text-decoration: none;
	padding:1% 2%;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: solid #006699;
	border-radius:3px;
}

/*services*/
.titre{
	text-align: center;
	padding:0px;
}
.divider{
  	height:2px;
  	width: 12%;
  	background-color: #DCDCDC;
  	margin: 30px auto;
  	position: relative;
  	z-index: 1;
}
.fa-stack{
  	z-index: 2;
	color:#1E90FF;
  	top:-650%;
}
.main-feature{
	float:left;
}
.services{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	padding:0px;
}
.icone {
 	 width:20%;
}
.cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:4vw;
	height:4vw;
    max-width:50px;
    max-height:50px;
	z-index:1;
}
.fa-chart-line{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}
.point{
	left:70%;
	top:-70%;
	position: relative;
	z-index:3;
}
.fa-cubes{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}
.fa-chart-pie{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}

/*portfolio*/
.fond_gris{
	background-color:#F3F3F3;
}

.menu_portfolio{
	text-align:center;
    margin:auto;
}
.menu_portfolio ul{
	list-style-type:none;
}
.menu_portfolio li{
	display:inline-block;
}
.menu_portfolio a{
	display:inline;
    margin: -10px;
    padding:10px;
    color: #808080;
	border:#DCDCDC  solid;
    background-color: #DCDCDC;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.first{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
}
.last{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
}
.first:hover{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
}
.last:hover{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
}
.menu_portfolio a:hover {
	color: #FFFFFF;
	border-top:#0099FF solid;
	border-left:#0099FF solid;
	border-right:#0099FF solid;
	border-bottom:#006699 solid;
	background: #0099FF;
}
.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.2em;
    right: 2.5em;
}
.menu_portfolio li:hover .fa-caret-down { 
	visibility:visible;
}
.images_portfolio{
	margin-left: 10%;
	padding: 5% 0%;
	display:flex;
	flex-wrap: wrap;
}
.images_portfolio a{
	text-decoration:none;
  }
.images_portfolio img{
	margin:15px;
}
.text_image{
	top:-80px;
	left:20px;
	padding:10px;
	position:relative;
	opacity: 0;
	font-size:1em;
}
.text_image h4{
	color:#fff;
}
.text_image span{
	color:#fff;
}
.images_portfolio img:hover + .text_image {
	opacity:1;
}

/*contact*/
.contact{
	background-color: rgba(0,102,153);
	background-size:cover;
	width:100%;
	height:600px;
	z-index:2;
	position:relative;
}
iframe{
	z-index:1;
	width:100%;
	opacity:0.8;
	height:600px;
	border:none;
}
.formulaire{
	position: absolute;
	left: 75%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	top: 50%;
	margin:2%;
	padding:2%;
}	
input, textarea{
	width:300px;
}
.nom{
    font-weight: bold;
}
.tel{
    text-decoration: underline dotted;
}
.message{
	color: #808080;
}

@media all and (min-width: 1400px)
{
	.slider{
    height: 580px;
    }
    .titre .fa-stack{ 
    margin-top: -4px;
    }
    .contact, iframe{
    height:680px;
    }
}
@media all and (min-width: 1000px) and (max-width: 1400px) 
{
    #logo{
    width:20%;
    }
	body {
	font-size: 1em;
	}
	h1 {
	font-size: 1.2em;
	}
    div.menu{
	font-size: 2vw;
	float: right;
	margin-right:10%;
	margin-top: 1%;
	overflow: auto;
	}
    div.menu a:hover
    {
    border-bottom: 0;
    }
	div.menu a:active {
	border-top: #1E90FF solid;
	font-weight: bold;
	color: #000;
	}
	#image1 #image2
	{
	background-size: 100vw;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.3em;
    right: 2.5em;
	}
	.cercle{
	width:4vw;
	height:4vw;
	}
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
}
@media all and (min-width: 1000px) and (max-width: 1050px) 
{
	.icone .fa-stack{
	font-size:0.6em;
	}
    .fa-chart-line, .fa-cubes, .fa-chart-pie{
	font-size: 1em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
	}
     .cercle{
	width:3vw;
	height:3vw;
	}
}

@media all and (min-width : 650px) and (max-width : 1000px)
{
    #logo{
    width:50%;
    }
    .nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .menu{
    display:none;
    }
    .fa-angle-left{
	visibility:hidden;
	font-size:0em;
    }
    .fa-angle-right{
	visibility:hidden;
	font-size:0em;
    }
    .text{
    padding:0;
    margin:auto;
    text-align:center;
    color:#000000;
    }
    .slider {
    position:relative;
    background-color:#F3F3F3;
	z-index: 1;
	height:280px;
    width:100%;
    overflow: hidden;
	padding-top:7%;
    }
    .images{
    opacity:0;
    }
	body {
	font-size: 0.8em;
	}
	h1 {
	font-size: 0.9em;
	}
	h2{
	font-size: 2em;
	}
	h3{
	font-size: 1.2em;
	}
	h4{
	font-size: 1.4em;
	}
    .menu_portfolio a {
	font-size:0.5em;
	}
	.main-feature{
	float:none;
	width:90%;
	}
    .text_image {
    opacity:1;
    }
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.4em;
    right: 2em;
	}
	.formulaire{
	left: 50%;
	}
}
@media (max-width: 640px) {
	#logo{
    width:50%;
    }
    .nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .menu{
    display:none;
    }
    .fa-angle-left{
	visibility:hidden;
	font-size:0em;
    }
    .fa-angle-right{
	visibility:hidden;
	font-size:0em;
    }
    .text{
    padding:0;
    margin:auto;
    text-align:center;
    color:#000000;
    }
    .slider {
    position:relative;
    background-color:#F3F3F3;
	z-index: 1;
	height:250px;
    width:100%;
    overflow: hidden;
	padding-top:7%;
    }
    .images{
    opacity:0;
    }
	body {
	font-size: 0.8em;
	}
	h1 {
	font-size: 0.9em;
	}
	h2{
	font-size: 2em;
	}
	h3{
	font-size: 1.2em;
	}
	h4{
	font-size: 1.4em;
	}
	.main-feature{
	float:none;
	width:90%;
	}
     .cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:5vw;
	height:5vw;
	z-index:1;
	}
	.menu_portfolio a {
	font-size:0.5em;
	}
	.text_image {
    opacity:1;
    }
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.4em;
    right: 1.8em;
	}
	.formulaire{
	left: 50%;
	}
}
@media (max-width: 400px) {
	.nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .text{
    width:90%;
    text-align:center;
    }
	.Bouton_info{
	font-size: 4vw;
	}
	.cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:8vw;
	height:8vw;
	z-index:1;
	}
    .fa-stack{
	font-size: 0.8em;
	}
    .images_portfolio img{
    width:80%;
    }
	.images_portfolio img{
	margin:5px;
	}
	.formulaire{
	width:80%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	top: 50%;
	margin:2%;
	padding:2%;
	}	
	input, textarea{
	width:150px;
}
}
@media (max-width: 250px) {
	.menu_portfolio a {
	font-size:0.5em;
	margin:-10px;
	padding:5px;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.1em;
    right: 1.5em;
	}
	.fa-chart-line, .fa-cubes, .fa-chart-pie{
	font-size: 0.8em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
	}
	.icone .fa-stack{
	font-size:0.5em;
	}
	.titre .fa-stack{
	font-size:0.4em;
	top:-400%
	}
}
@media (hover: none) {
	.first:active{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
	}
	.last:active{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
	}
	.menu_portfolio a:active {
	color: #FFFFFF;
	border-top:#0099FF solid;
	border-left:#0099FF solid;
	border-right:#0099FF solid;
	border-bottom:#006699 solid;
	background: #0099FF;
	}
	.menu_portfolio li:active .fa-caret-down { 
	visibility:visible;
	}
}

}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.woff2') format('woff2'),
         url('fonts/roboto-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.woff2') format('woff2'),
         url('fonts/roboto-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
body {
	color: #808080;
	margin-top:0;
	font-size: 1.2em;
	font-family: robotoregular, Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}
h1 {
	font-size: 1.5em;
	font-family: robotoblack, "Times New Roman", "serif";
}
h2{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 2.5em;
	color: #000000;
	display: block;
}
h3{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 1.2em;
	color: #000000;
	padding:0px;
	display: inline;
}
h4{
	font-family: robotobold, "Times New Roman", "serif";
	font-size: 1.1em;
	color: #000000;
	padding:0px;
	display: inline;
}

/*bandeau navigation*/
.nav{
	width: 100%;
	margin: 0;
	background-size: cover;
	background-color: rgba(255,255,255,0.8);
	position: fixed;
	z-index: 999;
	padding: 0;
}
#logo { 
	margin-top : 1%;
	margin-bottom:1%;
	margin-left:15%;
}
div.menu {
	float: right;
	margin-right:10%;
	margin-top: 1%;
	overflow: auto;
}
div.menu a {
	display: inline-block;
	text-align: center;
	padding: 14px;
	color: #808080;
	font-size:1em;
	text-decoration: none;
}
div.menu a:hover {
	border-top: #1E90FF solid;
	font-weight: bold;
	color: #000;
}

/*slider*/
.slider {
    position:relative;
	z-index: 1;
    width:100%;
    overflow: hidden;
	height: 450px;
	padding-top:7%;
}
.images {
    position:absolute;
    white-space: nowrap;
    width:100%;
    transition:left 1s
}
.images img {
	width:100%;
}
#image1:target~.images {
    left:0;
}
#image2:target~.images {
    left:-100%;
}
.accueil {
	margin-top:12%;
}
.fa-angle-left{
	color:#FFFFFF;
	font-size:3.5em;
	left: 2%;
	position: absolute;
	padding:0;
	margin-bottom:0;
	z-index:8;
}
.fa-angle-right{
	color:#FFFFFF;
	font-size:3.5em;
	right: 2%;
	position: absolute;
	z-index:8;
}
.slider ul {
    position:relative;
}
.slider li {
    display:inline-block
}
.text{
	position: absolute;
	width:100%;
	z-index:2;
	color:#ffffff;
	margin-left:15%;
	margin-top:0;
}
.webagency{
	color:#1E90FF;
}
.Bouton_info{
	color:#ffffff;
	font-size: 1.5vw;
	background-color: #1E90FF;
	text-decoration: none;
	padding:1% 2%;
	border-top:none;
	border-left:none;
	border-right: none;
	border-bottom: solid #006699;
	border-radius:3px;
}

/*services*/
.titre{
	text-align: center;
	padding:0px;
}
.divider{
  	height:2px;
  	width: 12%;
  	background-color: #DCDCDC;
  	margin: 30px auto;
  	position: relative;
  	z-index: 1;
}
.fa-stack{
  	z-index: 2;
	color:#1E90FF;
  	top:-650%;
}
.main-feature{
	float:left;
}
.services{
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
	padding:0px;
}
.icone {
 	 width:20%;
}
.cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:4vw;
	height:4vw;
    max-width:50px;
    max-height:50px;
	z-index:1;
}
.fa-chart-line{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}
.point{
	left:70%;
	top:-70%;
	position: relative;
	z-index:3;
}
.fa-cubes{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}
.fa-chart-pie{
	font-size: 1.4em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
}

/*portfolio*/
.fond_gris{
	background-color:#F3F3F3;
}

.menu_portfolio{
	text-align:center;
    margin:auto;
}
.menu_portfolio ul{
	list-style-type:none;
}
.menu_portfolio li{
	display:inline-block;
}
.menu_portfolio a{
	display:inline;
    margin: -10px;
    padding:10px;
    color: #808080;
	border:#DCDCDC  solid;
    background-color: #DCDCDC;
    text-decoration: none;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s;
}
.first{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
}
.last{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
}
.first:hover{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
}
.last:hover{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
}
.menu_portfolio a:hover {
	color: #FFFFFF;
	border-top:#0099FF solid;
	border-left:#0099FF solid;
	border-right:#0099FF solid;
	border-bottom:#006699 solid;
	background: #0099FF;
}
.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.2em;
    right: 2.5em;
}
.menu_portfolio li:hover .fa-caret-down { 
	visibility:visible;
}
.images_portfolio{
	margin-left: 10%;
	padding: 5% 0%;
	display:flex;
	flex-wrap: wrap;
}
.images_portfolio a{
	text-decoration:none;
  }
.images_portfolio img{
	margin:15px;
}
.text_image{
	top:-80px;
	left:20px;
	padding:10px;
	position:relative;
	opacity: 0;
	font-size:1em;
}
.text_image h4{
	color:#fff;
}
.text_image span{
	color:#fff;
}
.images_portfolio img:hover + .text_image {
	opacity:1;
}

/*contact*/
.contact{
	background-color: rgba(0,102,153);
	background-size:cover;
	width:100%;
	height:600px;
	z-index:2;
	position:relative;
}
iframe{
	z-index:1;
	width:100%;
	opacity:0.8;
	height:600px;
	border:none;
}
.formulaire{
	position: absolute;
	left: 75%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	top: 50%;
	margin:2%;
	padding:2%;
}	
input, textarea{
	width:300px;
}
.nom{
    font-weight: bold;
}
.tel{
    text-decoration: underline dotted;
}
.message{
	color: #808080;
}

@media all and (min-width: 1400px)
{
	.slider{
    height: 580px;
    }
    .titre .fa-stack{ 
    margin-top: -4px;
    }
    .contact, iframe{
    height:680px;
    }
}
@media all and (min-width: 1000px) and (max-width: 1400px) 
{
    #logo{
    width:20%;
    }
	body {
	font-size: 1em;
	}
	h1 {
	font-size: 1.2em;
	}
    div.menu{
	font-size: 2vw;
	float: right;
	margin-right:10%;
	margin-top: 1%;
	overflow: auto;
	}
    div.menu a:hover
    {
    border-bottom: 0;
    }
	div.menu a:active {
	border-top: #1E90FF solid;
	font-weight: bold;
	color: #000;
	}
	.text_image h4{
	opacity:1;
	}
	.text_image span {
	opacity:1;
	}
	#image1 #image2
	{
	background-size: 100vw;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.3em;
    right: 2.5em;
	}
	.cercle{
	width:4vw;
	height:4vw;
	}
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
}
@media all and (min-width: 1000px) and (max-width: 1050px) 
{
	.icone .fa-stack{
	font-size:0.6em;
	}
    .fa-chart-line, .fa-cubes, .fa-chart-pie{
	font-size: 1em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
	}
     .cercle{
	width:3vw;
	height:3vw;
	}
}

@media all and (min-width : 650px) and (max-width : 1000px)
{
    #logo{
    width:50%;
    }
    .nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .menu{
    display:none;
    }
    .fa-angle-left{
	visibility:hidden;
	font-size:0em;
    }
    .fa-angle-right{
	visibility:hidden;
	font-size:0em;
    }
    .text{
    padding:0;
    margin-left:5%;
    color:#000000;
    }
    .slider {
    position:relative;
    background-color:#F3F3F3;
	z-index: 1;
	height:280px;
    width:100%;
    overflow: hidden;
	padding-top:7%;
    }
    .images{
    opacity:0;
    }
	body {
	font-size: 0.8em;
	}
	h1 {
	font-size: 0.9em;
	}
	h2{
	font-size: 2em;
	}
	h3{
	font-size: 1.2em;
	}
	h4{
	font-size: 1.4em;
	}
    .menu_portfolio a {
	font-size:0.5em;
	}
	.main-feature{
	float:none;
	width:90%;
	}
    .text_image {
    opacity:1;
    }
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.4em;
    right: 2em;
	}
	.formulaire{
	left: 50%;
	}
}
@media (max-width: 640px) {
	#logo{
    width:50%;
    }
    .nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .menu{
    display:none;
    }
    .fa-angle-left{
	visibility:hidden;
	font-size:0em;
    }
    .fa-angle-right{
	visibility:hidden;
	font-size:0em;
    }
    .text{
    padding:0;
    margin-left:5%;
    color:#000000;
    }
    .slider {
    position:relative;
    background-color:#F3F3F3;
	z-index: 1;
	height:250px;
    width:100%;
    overflow: hidden;
	padding-top:7%;
    }
    .images{
    opacity:0;
    }
	body {
	font-size: 0.8em;
	}
	h1 {
	font-size: 0.9em;
	}
	h2{
	font-size: 2em;
	}
	h3{
	font-size: 1.2em;
	}
	h4{
	font-size: 1.4em;
	}
	.main-feature{
	float:none;
	width:90%;
	}
     .cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:5vw;
	height:5vw;
	z-index:1;
	}
	.menu_portfolio a {
	font-size:0.5em;
	}
	.text_image {
    opacity:1;
    }
	.text_image h4{
	color:#FFFFFF;
	font-size:1em;
	}
	.text_image span{
	color:#FFFFFF;
	font-size:0.8em;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.4em;
    right: 1.8em;
	}
	.formulaire{
	left: 50%;
	}
}
@media (max-width: 400px) {
	.nav{
    background-image:url("images/burger-menu-icon.png");
    background-size:5%;
    background-position:90% 30%;
    background-repeat:no-repeat;
    }
    .text{
    width:90%;
    text-align:center;
    }
	.Bouton_info{
	font-size: 4vw;
	}
	.cercle{
	color:#1E90FF;
	border:2px solid #DCDCDC; 
	border-radius:50%;
	padding:5%;
	width:8vw;
	height:8vw;
	z-index:1;
	}
    .fa-stack{
	font-size: 0.8em;
	}
    .images_portfolio img{
    width:80%;
    }
	.images_portfolio img{
	margin:5px;
	}
	.formulaire{
	width:80%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.7);
	top: 50%;
	margin:2%;
	padding:2%;
	}	
	input, textarea{
	width:150px;
}
}
@media (max-width: 250px) {
	.menu_portfolio a {
	font-size:0.5em;
	margin:-10px;
	padding:5px;
	}
	.fa-caret-down {
    visibility: hidden;
    position: relative;
    color: #006699;
    font-size: 1.2em;
    top: 1.1em;
    right: 1.5em;
	}
	.fa-chart-line, .fa-cubes, .fa-chart-pie{
	font-size: 0.8em;
	color: #1E90FF;
	padding: 25%;
	z-index: 2;
	}
	.icone .fa-stack{
	font-size:0.5em;
	}
	.titre .fa-stack{
	font-size:0.4em;
	top:-400%
	}
}
@media (hover: none) {
	.first:active{
	border:#DCDCDC solid;
	border-radius:5px 0px 0px 5px;
	}
	.last:active{
	border:#DCDCDC solid;
	border-radius:0px 5px 5px 0px;
	}
	.menu_portfolio a:active {
	color: #FFFFFF;
	border-top:#0099FF solid;
	border-left:#0099FF solid;
	border-right:#0099FF solid;
	border-bottom:#006699 solid;
	background: #0099FF;
	}
	.menu_portfolio li:active .fa-caret-down { 
	visibility:visible;
	}
}